---
layout: default
title: Melbourne, Australia
permalink: /
description: Everything Open 2023 is an open technologies conference running in Melbourne, Australia from March 14-16 2023.
---

<div class="bg-banner">
  <div class="d-flex align-items-md-center justify-content-md-center align-items-center justify-content-center h-100 py-4">
    <div class="header-info text-center text-light px-3 py-3">
      <h1>Everything Open 2023</h1>
      <p class="h2 text-muted">March 14-16 2023<br>
        Naarm (Melbourne), Australia
      </p>
    </div>
  </div>
</div>

<div class="bg-dusk-sea text-light">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>The conference is over</h2>
        <p>We would like to thank everyone who attended Everything Open 2023. It was great to hear from so many wonderful speakers and meet people from across the open technologies communities.</p>
        <a href="/schedule/" class="btn btn-outline-light" role="button">View the Schedule</a>
        <a href="https://mirror.linux.org.au/pub/everythingopen/2023/" class="btn btn-outline-light" role="button">Download recordings from the mirror</a>
        <a href="https://www.youtube.com/@EverythingOpen" class="btn btn-outline-light" role="button">Watch on YouTube</a>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container py-4">
    <h2 class="pb-2 text-center">Meet our Keynote Speakers</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src="/media/img/keynote-banner/seb.png" class="card-img-top" alt="Seb Chan">
          <div class="card-body">
            <h5 class="card-title"><a href="/news/keynote-seb-chan/">Seb Chan</a></h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/media/img/keynote-banner/lyndsey.png" class="card-img-top" alt="Lyndsey Jackson">
          <div class="card-body">
            <h5 class="card-title"><a href="/news/keynote-lyndsey-jackson/">Lyndsey Jackson</a></h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/media/img/keynote-banner/hugh.png" class="card-img-top" alt="Hugh Blemings">
          <div class="card-body">
            <h5 class="card-title"><a href="/news/keynote-hugh-blemings/">Hugh Blemings</a></h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/media/img/keynote-banner/rebecca.png" class="card-img-top" alt="Rebecca Giblin">
          <div class="card-body">
            <h5 class="card-title"><a href="/news/keynote-rebecca-giblin/">Rebecca Giblin</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <h2 class="pb-2 text-center">What does the conference cover?</h2>
    <p class="text-center">After the past two years of online conferences, Everything Open is an opportunity for our communities to come together for three days to share updates on their projects and learn about the latest in open technologies from leading community members.</p>
    <p class="text-center">Everything Open will cover a broad range of topics across three days. You can expect to see talks from all of these areas:</p>
    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#ubuntu"></use></svg>
        </div>
        <div>
          <h3>Linux</h3>
          <p>Learn about the Linux Kernel and the ecosystem around it, including distros, drivers and software.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#code"></use></svg>
        </div>
        <div>
          <h3>Open Source Software</h3>
          <p>Keep up to date with the latest in open software, including programming languages, web technologies, containers, Kubernetes, etc.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#motherboard"></use></svg>
        </div>
        <div>
          <h3>Open Hardware</h3>
          <p>Learn about designing hardware using open source tools, putting it together, sharing designs under open licences.</p>
        </div>
      </div>
    </div>

    <div class="row g-4 py-2 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#person"></use></svg>
        </div>
        <div>
          <h3>Community</h3>
          <p>Building and managing communities around open technologies.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#book"></use></svg>
        </div>
        <div>
          <h3>GLAM</h3>
          <p>Galleries, Libraries, Archives and Museums - the impact and application of open source to our sustainable collecting and discovery practices.</p>
        </div>
      </div>

      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi bi-topics" width="1em" height="1em"><use xlink:href="/media/img/bootstrap-icons.svg#pie-chart"></use></svg>
        </div>
        <div>
          <h3>Open Data</h3>
          <p>Exposing more data in an open manner, especially government datasets, for everyone to use.</p>
        </div>
      </div>
    </div>

    <p class="text-center fs-4">and much, much more...</p>
  </div>
</div>

<div class="bg-blaze">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Sponsor Everything Open 2023</h2>
        <p>Sponsorship packages are available to suit a range of budgets, from small startup to enterprise.</p>
        <a href="/sponsors/prospectus/" class="btn btn-secondary" role="button">View sponsorship options</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About Everything Open</h2>
        <p>
          Everything Open is a conference focused on open technologies, including Linux, open source software, open hardware and open data, and the communities that surround them.
          The conference provides technical deep-dives as well as updates from industry leaders and experts on a wide array of topics from these areas.
        </p>
        <p>Everything Open embodies Linux Australia's values, providing a space for the community to come together to learn from each other and participate in discussions.</p>

        <a href="/news/announcing-everything-open/" class="btn btn-dark" role="button">Find out more</a>
        <a href="https://lists.linux.org.au/mailman/listinfo/eo-announce" class="btn btn-secondary" role="button">Subscribe for updates</a>
      </div>
    </div>
  </div>
</div>
