<div class="table-responsive">
  <table class="table table-striped table-bordered" summary="This table provides a summary of the prices and what is included at each ticket tier">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Contributor</th>
        <th scope="col">Professional</th>
        <th scope="col">Hobbyist</th>
        <th scope="col">Student</th>
        <th scope="col">Single Day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><del>Early Bird Price</del></th>
        <td><del>$899</del></td>
        <td><del>$649</del></td>
        <td><del>$299</del></td>
        <td><del>n/a</del></td>
        <td><del>n/a</del></td>
      </tr>
      <tr>
        <th scope="row">Regular Price</th>
        <td>$999</td>
        <td>$749</td>
        <td>$399</td>
        <td>$149</td>
        <td>$199</td>
      </tr>
      <tr>
        <th colspan="6" class="text-center">Inclusions</th>
      </tr>
      <tr>
        <th scope="row">Full Conference</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No - single day only</td>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner^</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
      </tr>
      <tr>
        <th scope="row">Acknowledged at Opening</th>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th colspan="6" class="text-center">Addons</th>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner - Additional (each)^</th>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
</div>

<strong>Notes:</strong>
<ul>
    <li>
        ^Additional tickets for Penguin Dinner for family/others are also available at a price of $100/ticket.
    </li>
</ul>
